body {
    background-color: antiquewhite;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.card {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

form {
    width: 100%;
}

label {
    line-height: 1.9rem;
}

input {
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
    outline: none;
}